body {
    background-color: #121212;
    color: white;
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    text-align: center;
}

#login-screen {
    position: fixed;
    top:0; left:0; width:100%; height:100%;
    background: rgba(0,0,0,0.95);
    display: flex; justify-content: center; align-items: center;
    z-index: 999;
}

.login-box {
    background: #222;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #e30613;
}

header {
    background: #e30613;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.container { padding: 20px; }

.bracket {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 30px;
    margin-top: 20px;
}

.round { min-width: 280px; }

.match {
    background: #2a2a2a;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    border-bottom: 4px solid #e30613;
}

.team {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.team img { width: 35px; border-radius: 3px; }

.score {
    width: 45px;
    background: #444;
    border: none;
    color: gold;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
}

.placeholder { opacity: 0.4; font-size: 0.8em; padding: 30px; border-style: dashed; }

.final-box { border: 2px solid gold; background: linear-gradient(45deg, #222, #444); }

#champion {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    text-align: center;
}

button {
    background: #e30613;
    color: white;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.3s;
}

button:hover { transform: scale(1.1); background: #white; color: #e30613; }
